body {
    /* font-family:15px/1.5 Arial, Helvetica, 'Play' sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/backg1.jpg);
}

h1 {
    text-align: center;
    padding-top: 30px;
    color: #310126;
    margin: auto;
    /* font-style: Arial, Helvetica, sans-serif; */
    font-size: 30px;

}

.login {
    background: #f6f6f6;
    padding: 40px;
    width: 280px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
    margin-left: 180x;
    border-radius: 10px;
    /* box-shadow: 0 0 5px gray; */
}

.form {
    width: 240px;
    text-align: center;
}

input {
    width: 280px;
    height: 50px;
    background: white;
    border: none;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #ffffff;
    box-shadow: 0 0 5px rgb(187, 187, 187);
}

input[type=button] {
    border: none;
    width: 150px;
    height: 42px;
    height: 42px;    
    background: #b13c95;
    color: rgb(255, 254, 254);
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 68px;  
    box-shadow: 0 0 20px #aa5797;
}

input[type=button]:hover {
    color: #fff;
    background-color: rgb(197, 10, 166);
}

p {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    color: darkgrey;
}

a {
    color: #160018;
    text-decoration: blink;
    margin-left: 110px;
}

a:hover {
    color: #b13c95;
    opacity: 1;
    transition: 50ms;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 50%;
    transform: scale(0.8);
}

.fa:hover {
    color: #b13c95;
    opacity: 1;
    transition: 50ms;
    
}
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: white;
    color: #3b3998;
    margin-left: 80px;
    box-shadow: 0 0 5px rgb(170, 170, 170);
}

.fa-google {
    background: white;
    color: #3b3993;
    box-shadow: 0 0 5px rgb(170, 170, 170);
}

::placeholder {
    font-weight: bold;
    color: black;
    opacity: 0.5;
    padding-left: 20px;
}